[submodule "third_party/cpp_redis"]
	path = third_party/cpp_redis
	url = git@github.com:cpp-redis/cpp_redis.git
[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "third_party/PicoSHA2"]
	path = third_party/PicoSHA2
	url = git@github.com:okdshin/PicoSHA2.git
[submodule "third_party/libtorrent"]
	path = third_party/libtorrent
	url = git@github.com:arvidn/libtorrent.git
[submodule "third_party/cppkafka"]
	path = third_party/cppkafka
	url = git@github.com:mfontanini/cppkafka.git
[submodule "third_party/librdkafka"]
	path = third_party/librdkafka
	url = git@github.com:edenhill/librdkafka.git
