[submodule "third_party/cpp_redis"]
	path = third_party/cpp_redis
	url = git@github.com:cpp-redis/cpp_redis.git
[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/cppzmq"]
	path = third_party/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "third_party/PicoSHA2"]
	path = third_party/PicoSHA2
	url = git@github.com:okdshin/PicoSHA2.git
